<header id="dashboard-header" class="dashboard__header">
  <app-search-bar (onSearchUpdated)="onCapturedSearch($event)"></app-search-bar>
</header>
<section id="search-results">
  <app-search-results
    [searchResults]="searchResults"
    (onTrackSelected)="onCapturedTrack($event)">
  </app-search-results>
</section>

<section id="track-analysis">
  <app-track [trackAudioFeatures]="trackAudioFeatures" [trackAudioAnalysis]="trackAudioAnalysis"></app-track>
</section>

  <!-- <router-outlet></router-outlet> -->