.search__container {
  width: 100%;
}
.search__results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.result__item {
  flex: 0 0 auto;
  width: 25%;
}

.result__heading {

}

.result__img {
  width: 150px;
  max-width: 80%;
}